@using System.Globalization;
@model Photo

@{
    ViewData["Title"] = "Foto n° " + Model.Id;
}

<h2 class="text-center">@Model.Title</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Titolo</th>
            <th>Descrizione</th>
            <th>Foto</th>
            <th>Categorie</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Title</td>
            <td>@Model.Description</td>
            <td><img src="@Model.Url" alt="@Model.Title" /></td>

            <td>
                @foreach (Category category in Model.Categories ?? Enumerable.Empty<Category>())
                {
                    <div>
                        <label>@category.Name</label>
                    </div>
                }
            </td>
        </tr>
    </tbody>
</table>
